Repository BaronRigell/ProjectRevival, pull requests merged in 2021-11, with the labels that each got.

#12 Left-side-view Camera Finished
  Config/DefaultInput.ini
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
Labels: general, core

#13 Bot cover logic
  Binaries/Win64/ProjectRevivalEditor.target
  Binaries/Win64/UE4Editor.modules
  Content/ProjectRevival/Core/AI/BB_Character.uasset
  Content/ProjectRevival/Core/AI/BT_Character.uasset
  Content/ProjectRevival/Maps/TestLevel.umap
  Content/ProjectRevival/Maps/TestLevel_BuiltData.uasset
  ProjectRevival.sln
  Source/ProjectRevival/Private/AI/AICharacter.cpp
  Source/ProjectRevival/Private/AI/BaseAIController.cpp
  Source/ProjectRevival/Private/Interfaces/BotPickupInterface.cpp
  Source/ProjectRevival/Private/Pickup/HealthPickup.cpp
  Source/ProjectRevival/Public/Interfaces/BotPickupInterface.h
  Source/ProjectRevival/Public/Pickup/HealthPickup.h
Labels: AI, core

#17 Added Highlight Ability Effect
  .idea/.idea.ProjectRevival/.idea/.gitignore
  .idea/.idea.ProjectRevival/.idea/codeStyles/codeStyleConfig.xml
  .idea/.idea.ProjectRevival/.idea/encodings.xml
  .idea/.idea.ProjectRevival/.idea/projectSettingsUpdater.xml
  .idea/.idea.ProjectRevival/.idea/vcs.xml
  Config/DefaultEngine.ini
  Config/DefaultInput.ini
  Content/HighlightEnemy/ItemTestHighlight.uasset
  Content/HighlightEnemy/MF_ConvolveTexture.uasset
  Content/HighlightEnemy/MF_ExtractDepth.uasset
  Content/HighlightEnemy/MF_SampleSceneTextureNeighbourUVs.uasset
  Content/HighlightEnemy/PP_Outliner_Inst.uasset
  Content/HighlightEnemy/PP_Outliner_Inst_Green.uasset
  Content/HighlightEnemy/PP_Outliner_Inst_Red.uasset
  Content/HighlightEnemy/PP_Outliner_Inst_White.uasset
  Content/HighlightEnemy/PP_Outliner_M.uasset
  Content/ProjectRevival/Core/Weapon/BP_BaseWeapon.uasset
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
Labels: core, abilities

#18 Revert "Merge branch 'dev' of https://github.com/Kuzgaroth/ProjectRev…
  .idea/.idea.ProjectRevival/.idea/.gitignore
  .idea/.idea.ProjectRevival/.idea/codeStyles/codeStyleConfig.xml
  .idea/.idea.ProjectRevival/.idea/encodings.xml
  .idea/.idea.ProjectRevival/.idea/projectSettingsUpdater.xml
  .idea/.idea.ProjectRevival/.idea/vcs.xml
  Config/DefaultEngine.ini
  Config/DefaultInput.ini
  Content/HighlightEnemy/ItemTestHighlight.uasset
  Content/HighlightEnemy/MF_ConvolveTexture.uasset
  Content/HighlightEnemy/MF_ExtractDepth.uasset
  Content/HighlightEnemy/MF_SampleSceneTextureNeighbourUVs.uasset
  Content/HighlightEnemy/PP_Outliner_Inst.uasset
  Content/HighlightEnemy/PP_Outliner_Inst_Green.uasset
  Content/HighlightEnemy/PP_Outliner_Inst_Red.uasset
  Content/HighlightEnemy/PP_Outliner_Inst_White.uasset
  Content/HighlightEnemy/PP_Outliner_M.uasset
  Content/ProjectRevival/Core/Player/BP_PlayerCharacter1.uasset
  Content/ProjectRevival/Core/Weapon/BP_BaseWeapon.uasset
  Content/ProjectRevival/Maps/TestLevel1.umap
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
Labels: core, abilities

#19 Player flip
  .idea/.idea.ProjectRevival.dir/.idea/.gitignore
  Config/DefaultInput.ini
  Content/ProjectRevival/Core/Player/FlipCurve.uasset
  ProjectRevival.sln
  Source/ProjectRevival/Private/Components/WeaponComponent.cpp
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Private/Weapon/BaseWeapon.cpp
  Source/ProjectRevival/Private/Weapon/Projectile/BaseProjectile.cpp
  Source/ProjectRevival/ProjectRevival.cpp
  Source/ProjectRevival/ProjectRevival.h
  Source/ProjectRevival/Public/Components/WeaponComponent.h
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
Labels: general, core

#25 Created special curve for aim zoom, created input action on right mou…
  Config/DefaultInput.ini
  Content/ProjectRevival/Core/Player/BP_PlayerCharacter.uasset
  Content/ProjectRevival/Core/Player/VC_AimTimeline.uasset
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
Labels: general, core

#26 Ghost to gas
  Config/DefaultEngine.ini
  Config/DefaultGameplayTags.ini
  Content/ExternalContent/Characters/HeroTPP/HeroTPP.uasset
  Content/ExternalContent/Characters/Materials/HeroTPP.uasset
  Content/ExternalContent/Weapons/Launcher.uasset
  Content/ExternalContent/Weapons/Materials/Launcher_MatA.uasset
  Content/ExternalContent/Weapons/Materials/Launcher_MatA_Inst.uasset
  Content/ExternalContent/Weapons/Materials/Launcher_MatB.uasset
  Content/ExternalContent/Weapons/Materials/Launcher_MatB_Inst.uasset
  Content/ExternalContent/Weapons/Materials/MagGun_MatA.uasset
  Content/ExternalContent/Weapons/Materials/MagGun_MatA_Inst3.uasset
  Content/ExternalContent/Weapons/Materials/MagGun_MatB.uasset
  Content/ExternalContent/Weapons/Materials/MagGun_MatB_Inst2.uasset
  Content/ExternalContent/Weapons/Rifle.uasset
  Content/ProjectRevival/Core/AbilitySystem/GameplayAbilities/AbilityAssets/CF_GhostCurve.uasset
  Content/ProjectRevival/Core/AbilitySystem/GameplayAbilities/GA_Ghost.uasset
  Content/ProjectRevival/Core/Player/BP_PlayerCharacter.uasset
  Content/ProjectRevival/Meshes/MainCharacter/Materials/M_Invisible.uasset
  Content/ProjectRevival/Meshes/MainCharacter/Materials/M_Invisible_Inst.uasset
  Content/ProjectRevival/Meshes/MainCharacter/Materials/Textures/T_Ceramic_Tile_M.uasset
  Content/ProjectRevival/Meshes/MainCharacter/Materials/Textures/T_Fire_Tiled_D.uasset
  Content/ProjectRevival/Meshes/MainCharacter/Materials/Textures/T_Metal_Rust_N.uasset
  Content/ProjectRevival/Meshes/MainCharacter/Materials/Textures/T_Tech_Hex_Tile_N.uasset
  Source/ProjectRevival/Private/AbilitySystem/Abilities/GhostAbility.cpp
  Source/ProjectRevival/Private/AbilitySystem/Abilities/Miscellaneuos/IDynMaterialsFromMesh.cpp
  Source/ProjectRevival/Private/AbilitySystem/AbilityTasks/GhostTask_InvisibilityToggle.cpp
  Source/ProjectRevival/Private/Components/WeaponComponent.cpp
  Source/ProjectRevival/Private/Miscellaneous/FuncActors/TickActor.cpp
  Source/ProjectRevival/Private/Player/BaseCharacter.cpp
  Source/ProjectRevival/Private/Weapon/BaseWeapon.cpp
  Source/ProjectRevival/Public/AbilitySystem/Abilities/GhostAbility.h
  Source/ProjectRevival/Public/AbilitySystem/Abilities/Miscellaneuos/IDynMaterialsFromMesh.h
  Source/ProjectRevival/Public/AbilitySystem/AbilityTasks/GhostTask_InvisibilityToggle.h
  Source/ProjectRevival/Public/Components/WeaponComponent.h
  Source/ProjectRevival/Public/Miscellaneous/FuncActors/TickActor.h
  Source/ProjectRevival/Public/Player/BaseCharacter.h
  Source/ProjectRevival/Public/Weapon/BaseWeapon.h
Labels: core, abilities

#27 Player aim zoom
  Content/ProjectRevival/Core/Player/FC_FieldOfView.uasset
  ProjectRevival.sln
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Public/CoreTypes.h
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
Labels: general, core

#29 Bot check situation
  Config/DefaultEngine.ini
  Content/ProjectRevival/Core/AI/BB_Character.uasset
  Content/ProjectRevival/Core/AI/BP_AICharacter.uasset
  Content/ProjectRevival/Core/AI/BTD_IFHealthAboveOrEqual.uasset
  Content/ProjectRevival/Core/AI/BTD_IfHealthBelow.uasset
  Content/ProjectRevival/Core/AI/BTD_IfHealthEqual.uasset
  Content/ProjectRevival/Core/AI/BT_Character.uasset
  Content/ProjectRevival/Core/AI/EQS/Context_FindPlayer.uasset
  Content/ProjectRevival/Core/AI/EQS/Context_HealthPickup.uasset
  Content/ProjectRevival/Core/AI/EQS/EQS_FindCover.uasset
  Content/ProjectRevival/Core/AI/EQS/EQS_FindHealthPickup.uasset
  Content/ProjectRevival/Core/AI/EQS/EQS_FindPlayer.uasset
  Content/ProjectRevival/Core/BP_PRGameModeBase.uasset
  Source/ProjectRevival/Private/AI/AICharacter.cpp
  Source/ProjectRevival/Private/PRGameModeBase.cpp
  Source/ProjectRevival/Public/AI/AICharacter.h
  Source/ProjectRevival/Public/CoreTypes.h
  Source/ProjectRevival/Public/PRGameModeBase.h
Labels: AI, core

#32 Timeline left view
  Content/ProjectRevival/Core/Menu/MenuLevel.umap
  Content/ProjectRevival/Core/Player/BP_PlayerCharacter.uasset
  Content/ProjectRevival/Core/Player/FC_LeftSideView.uasset
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Public/CoreTypes.h
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
Labels: general, core
