Repository BaronRigell/ProjectRevival, pull requests merged in 2022-04, with the labels that each got.

#130 Created realisation of saving the volume: master, effects, music, voi…
  Config/DefaultEngine.ini
  Content/ProjectRevival/Core/Sounds/SoundClasses/EffectsSoundMix.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/MasterSoundMix.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/MusicSoundMix.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Ambient.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Character.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Effects.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Impact.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Master.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Music.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Voice.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Weapon.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/VoiceSoundMix.uasset
  Source/ProjectRevival/Private/Menu/MenuLevelTheme.cpp
  Source/ProjectRevival/Private/Menu/OptionsSoundWidget.cpp
  Source/ProjectRevival/Private/Menu/SaveGameClass.cpp
  Source/ProjectRevival/Private/PRGameInstance.cpp
  Source/ProjectRevival/Public/Menu/MenuLevelTheme.h
  Source/ProjectRevival/Public/Menu/OptionsSoundWidget.h
  Source/ProjectRevival/Public/Menu/SaveGameClass.h
  Source/ProjectRevival/Public/PRGameInstance.h
Labels: UI, general, core, sound

#131 Sound setup save
  Source/ProjectRevival/Private/Menu/MenuLevelTheme.cpp
  Source/ProjectRevival/Public/Menu/MenuLevelTheme.h
Labels: UI, general, core, sound

#140 UI menu correction
  Config/DefaultEngine.ini
  Content/ProjectRevival/Core/Menu/UI/WBP_Confirmation.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_DifficultyItem.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_DifficultySelection.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_Menu.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_Options.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_OptionsGame.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_OptionsGraphics.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_OptionsSound.uasset
  Content/ProjectRevival/Core/UI/WBP_GamePause.uasset
  Content/ProjectRevival/Core/UI/WBP_GoToMenu.uasset
  Source/ProjectRevival/Private/Menu/ConfirmationWidget.cpp
  Source/ProjectRevival/Private/Menu/DifficultyItemWidget.cpp
  Source/ProjectRevival/Private/Menu/DifficultySelectionWidget.cpp
  Source/ProjectRevival/Private/Menu/MenuWidget.cpp
  Source/ProjectRevival/Private/Menu/OptionsGameWidget.cpp
  Source/ProjectRevival/Private/Menu/OptionsGraphicsWidget.cpp
  Source/ProjectRevival/Private/Menu/OptionsSoundWidget.cpp
  Source/ProjectRevival/Private/Menu/OptionsWidget.cpp
  Source/ProjectRevival/Private/UI/PauseWidget.cpp
  Source/ProjectRevival/Public/Menu/ConfirmationWidget.h
  Source/ProjectRevival/Public/Menu/DifficultyItemWidget.h
  Source/ProjectRevival/Public/Menu/DifficultySelectionWidget.h
  Source/ProjectRevival/Public/Menu/MenuWidget.h
  Source/ProjectRevival/Public/Menu/OptionsGameWidget.h
  Source/ProjectRevival/Public/Menu/OptionsGraphicsWidget.h
  Source/ProjectRevival/Public/Menu/OptionsSoundWidget.h
  Source/ProjectRevival/Public/Menu/OptionsWidget.h
  Source/ProjectRevival/Public/UI/PauseWidget.h
Labels: UI

#141 Crosshair animations
  Content/ProjectRevival/Core/UI/BP_PlayerHUDWidget.uasset
  Content/ProjectRevival/Core/UI/Images/crosshair_red.uasset
  Content/ProjectRevival/Core/UI/Images/crosshair_white.uasset
  Content/ProjectRevival/Core/UI/WBP_Crosshair.uasset
  Source/ProjectRevival/Private/UI/CrosshairWidget.cpp
  Source/ProjectRevival/Private/UI/PlayerHUDWidget.cpp
  Source/ProjectRevival/Private/Weapon/RifleWeapon.cpp
  Source/ProjectRevival/Public/UI/CrosshairWidget.h
  Source/ProjectRevival/Public/UI/PlayerHUDWidget.h
Labels: UI, core

#145 Ingame UI final
  Content/ProjectRevival/Core/UI/BP_PlayerHUDWidget.uasset
  Content/ProjectRevival/Core/UI/Images/crosshair_dot.uasset
  Content/ProjectRevival/Core/UI/Images/crosshair_dot_1.uasset
  Content/ProjectRevival/Core/UI/Images/weapon_widget.uasset
  Content/ProjectRevival/Core/UI/Images/weapon_widget_white.uasset
  Content/ProjectRevival/Core/UI/Images/weapon_widget_white_1.uasset
  Content/ProjectRevival/Core/UI/WBP_CircleProgressBar.uasset
  Content/ProjectRevival/Core/UI/WBP_Crosshair.uasset
  Content/ProjectRevival/Core/UI/WBP_Weapon.uasset
  Source/ProjectRevival/Private/AbilitySystem/Abilities/ChangeWorldAbility.cpp
  Source/ProjectRevival/Private/AbilitySystem/Abilities/PRGameplayAbility.cpp
  Source/ProjectRevival/Private/UI/CirclePBWidget.cpp
  Source/ProjectRevival/Private/UI/CrosshairWidget.cpp
  Source/ProjectRevival/Private/UI/PlayerHUDWidget.cpp
  Source/ProjectRevival/Private/Weapon/RifleWeapon.cpp
  Source/ProjectRevival/Public/AbilitySystem/Abilities/ChangeWorldAbility.h
  Source/ProjectRevival/Public/UI/CirclePBWidget.h
  Source/ProjectRevival/Public/UI/CrosshairWidget.h
  Source/ProjectRevival/Public/UI/PlayerHUDWidget.h
Labels: UI, core

#146 Pre build v.1
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_bwd-left.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_bwd-right.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_bwd.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_fwd-left.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_fwd-right.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_fwd.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_left.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Mesh/soldier1_PhysicsAsset.uasset
  Content/ProjectRevival/Core/Player/BP_PlayerCharacter.uasset
  Content/ProjectRevival/Core/Weapon/BP_AK.uasset
  Content/ProjectRevival/TestObjects/BP_ChangeWorldSphereActor.uasset
  Source/ProjectRevival/Private/Weapon/RifleWeapon.cpp
  Source/ProjectRevival/Public/Weapon/RifleWeapon.h
Labels: general

#149 Ammo save
  Content/ProjectRevival/Animations/MHAnim/Roll/With_Root/main_roll_bwd-right_root.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_bwd-left_Montage.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_bwd-right.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_bwd-right_Montage.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_bwd_Montage.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_fwd-left_Montage.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_fwd-right_Montage.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_fwd_Montage.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_left_Montage.uasset
  Content/ProjectRevival/Animations/MHAnim/Roll/main_roll_right_Montage.uasset
  Content/ProjectRevival/Characters/TrueFemaleHero/MHAnim/BS_FemRoll.uasset
  Content/ProjectRevival/Characters/TrueFemaleHero/MHAnim/Reload/main_reload_AK_Montage.uasset
  Content/ProjectRevival/Characters/TrueFemaleHero/MH_rig_Skeleton.uasset
  Content/ProjectRevival/Core/AbilitySystem/GameplayAbilities/GA_Flip.uasset
  Content/ProjectRevival/Maps/TestLevel.umap
  Content/ProjectRevival/Maps/TestLevel_BuiltData.uasset
  Content/ProjectRevival/Weapons/Animations/Anim_Blueprints/AK/AK_AnimBP.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/AK.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/BP_Magazine.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/extended_magazine_PhysicsAsset.uasset
  Source/ProjectRevival/Private/AbilitySystem/Abilities/FlipAbility.cpp
  Source/ProjectRevival/Private/Components/WeaponComponent.cpp
  Source/ProjectRevival/Private/Miscellaneous/AnimNotify/TakeMagazineAnimNotify.cpp
  Source/ProjectRevival/Private/PRGameModeBase.cpp
  Source/ProjectRevival/Private/Pickup/AmmoCrate.cpp
  Source/ProjectRevival/Private/Weapon/AKWeapon.cpp
  Source/ProjectRevival/Private/Weapon/Projectile/Magazine.cpp
  Source/ProjectRevival/Private/Weapon/Projectile/Shell.cpp
  Source/ProjectRevival/Public/Components/WeaponComponent.h
  Source/ProjectRevival/Public/PRGameModeBase.h
  Source/ProjectRevival/Public/Pickup/AmmoCrate.h
  Source/ProjectRevival/Public/SaveSystem/PRSaveGame.h
  Source/ProjectRevival/Public/Weapon/BaseWeapon.h
  Source/ProjectRevival/Public/Weapon/Projectile/Magazine.h
Labels: general, core, hero

#153 Dimension shot
  Content/ProjectRevival/Core/AbilitySystem/GameplayAbilities/GA_DimensionShotAbility.uasset
  Content/ProjectRevival/Core/Player/BP_PlayerCharacter.uasset
  Content/ProjectRevival/Core/UI/BP_PlayerHUDWidget.uasset
Labels: general, core, abilities

#159 Minor bug fixes with camera
  Content/ProjectRevival/Core/Player/BP_PlayerCharacter.uasset
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Public/CoreTypes.h
Labels: bug, general, core

#152 Bot cross world
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/soldier_AnimBlueprint.uasset
  Content/ProjectRevival/Core/AI/Soldier/BP_SoldierEnemyCharacter.uasset
  Source/ProjectRevival/Private/AI/AICoordinator.cpp
  Source/ProjectRevival/Private/AI/Soldier/Decorators/BTD_IfPlayerInSight.cpp
  Source/ProjectRevival/Private/AI/Soldier/Services/FindEnemyInSight.cpp
  Source/ProjectRevival/Private/AI/Soldier/SoldierAIController.cpp
  Source/ProjectRevival/Private/Components/PRSoldierAIPerceptionComponent.cpp
  Source/ProjectRevival/Public/AI/AICoordinator.h
  Source/ProjectRevival/Public/AI/Soldier/SoldierAIController.h
  Source/ProjectRevival/Public/AI/SoldierEnemy.h
  Source/ProjectRevival/Public/CoreTypes.h
Labels: AI, core, soldier

#165 Pre build v.1
  Content/ProjectRevival/Weapons/Blueprints/AmmoShells/AP_AmmoShell_AK.uasset
  Source/ProjectRevival/Private/AbilitySystem/Abilities/ChangeWorldAbility.cpp
  Source/ProjectRevival/Private/AbilitySystem/Abilities/ChangeWorldAbility.cpp~
  Source/ProjectRevival/Private/AbilitySystem/Abilities/GhostAbility.cpp
  Source/ProjectRevival/Private/AbilitySystem/Abilities/PRGameplayAbility.cpp
  Source/ProjectRevival/Private/AbilitySystem/Abilities/VisorSwitcherAbility.cpp
  Source/ProjectRevival/Private/GameFeature/StaticObjectToStaticObject.cpp
  Source/ProjectRevival/Private/Weapon/Projectile/Shell.cpp
  Source/ProjectRevival/Public/AbilitySystem/Abilities/GhostAbility.h
  Source/ProjectRevival/Public/AbilitySystem/Abilities/PRGameplayAbility.h
  Source/ProjectRevival/Public/GameFeature/StaticObjectToStaticObject.h
  Source/ProjectRevival/Public/Weapon/Projectile/Shell.h
Labels: core, sound

#166 Fixed some issues assosiated with bot states and shooting
  Content/ProjectRevival/Core/AI/Soldier/BP_SoldierEnemyCharacter.uasset
  Source/ProjectRevival/Private/AI/Soldier/Decorators/BTD_IfPlayerInSight.cpp
  Source/ProjectRevival/Private/AI/Soldier/SoldierAIController.cpp
  Source/ProjectRevival/Private/AI/SoldierEnemy.cpp
  Source/ProjectRevival/Private/Components/PRSoldierAIPerceptionComponent.cpp
  Source/ProjectRevival/Private/GameFeature/StaticObjectToNothing.cpp
  Source/ProjectRevival/Public/AI/Soldier/SoldierAIController.h
  Source/ProjectRevival/Public/AI/SoldierEnemy.h
Labels: bug, AI, core, soldier
