Repository BaronRigell/ProjectRevival, pull requests merged in 2022-03, with the labels that each got.

#104 Two worlds correction
  Source/ProjectRevival/Private/GameFeature/ChangeWorld.cpp
  Source/ProjectRevival/Private/GameFeature/StaticObjectToNothing.cpp
  Source/ProjectRevival/Private/GameFeature/StaticObjectToStaticObject.cpp
  Source/ProjectRevival/Public/GameFeature/ChangeWorld.h
  Source/ProjectRevival/Public/GameFeature/StaticObjectToNothing.h
  Source/ProjectRevival/Public/GameFeature/StaticObjectToStaticObject.h
Labels: general, core, two_worlds

#111 Soldier grenade ability
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Grenade/soldier_low_grenade_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Grenade/soldier_low_grenade_left_montage.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Grenade/soldier_low_grenade_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Grenade/soldier_low_grenade_right_montage.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Reload/BP_Rifle_Magazine.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Reload/soldier_montage_reload.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Reload/soldier_reload_montage.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Shooting/soldier_montage_shoot.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Shooting/soldier_shoot_montage.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/soldier_AnimBlueprint.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Mesh/soldier1.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Mesh/soldier1_Skeleton.uasset
  Content/ProjectRevival/Core/AI/Soldier/BP_SoldierEnemyCharacter.uasset
  Content/ProjectRevival/Core/AbilitySystem/GameplayAbilities/AbilityAssets/Grenades/BP_BaseGrenade.uasset
  Content/ProjectRevival/Core/AbilitySystem/GameplayAbilities/AbilityAssets/Grenades/BP_ExplosiveGrenade.uasset
  Content/ProjectRevival/Core/AbilitySystem/GameplayAbilities/GA_GrenadeThrow.uasset
  Source/ProjectRevival/Private/AI/SoldierEnemy.cpp
  Source/ProjectRevival/Private/AbilitySystem/Abilities/GrenadeAbility.cpp
  Source/ProjectRevival/Private/AbilitySystem/AbilityActors/Grenades/BaseGrenade.cpp
  Source/ProjectRevival/Private/AbilitySystem/AbilityActors/Grenades/ExplosiveGrenade.cpp
  Source/ProjectRevival/Private/AbilitySystem/AbilityTasks/GrenadeTask_ThrowGrenade.cpp
  Source/ProjectRevival/Private/Interfaces/IGrenadeThrower.cpp
  Source/ProjectRevival/Public/AI/SoldierEnemy.h
  Source/ProjectRevival/Public/AbilitySystem/Abilities/GrenadeAbility.h
  Source/ProjectRevival/Public/AbilitySystem/AbilityActors/Grenades/BaseGrenade.h
  Source/ProjectRevival/Public/AbilitySystem/AbilityActors/Grenades/ExplosiveGrenade.h
  Source/ProjectRevival/Public/AbilitySystem/AbilityTasks/GrenadeTask_ThrowGrenade.h
  Source/ProjectRevival/Public/Interfaces/IGrenadeThrower.h
Labels: general, abilities, soldier

#112 Ai coordinator
  Content/ProjectRevival/Core/AI/BP_AICoordinator.uasset
  Content/ProjectRevival/Maps/TestLevel.umap
  Content/ProjectRevival/Maps/TestLevel_BuiltData.uasset
  Source/ProjectRevival/Private/AI/AICoordinator.cpp
  Source/ProjectRevival/Private/AI/Soldier/SoldierAIController.cpp
  Source/ProjectRevival/Private/AI/SoldierEnemy.cpp
  Source/ProjectRevival/Private/PRGameModeBase.cpp
  Source/ProjectRevival/Public/AI/AICoordinator.h
  Source/ProjectRevival/Public/AI/Soldier/SoldierAIController.h
  Source/ProjectRevival/Public/Components/PRSoldierAIPerceptionComponent.h
  Source/ProjectRevival/Public/CoreTypes.h
Labels: AI, core

#113 Ai coordinator
  Content/ProjectRevival/Core/AI/BP_AICoordinator.uasset
  Content/ProjectRevival/Maps/TestLevel.umap
  Content/ProjectRevival/Maps/TestLevel_BuiltData.uasset
  Source/ProjectRevival/Private/AI/AICoordinator.cpp
  Source/ProjectRevival/Private/AI/Soldier/Decorators/BTD_IfPlayerInSight.cpp
  Source/ProjectRevival/Private/AI/Soldier/SoldierAIController.cpp
  Source/ProjectRevival/Private/AI/SoldierEnemy.cpp
  Source/ProjectRevival/Private/Components/PRSoldierAIPerceptionComponent.cpp
  Source/ProjectRevival/Private/PRGameModeBase.cpp
  Source/ProjectRevival/Public/AI/AICoordinator.h
  Source/ProjectRevival/Public/AI/Soldier/SoldierAIController.h
  Source/ProjectRevival/Public/Components/PRSoldierAIPerceptionComponent.h
  Source/ProjectRevival/Public/CoreTypes.h
Labels: AI, core

#116 Created new camera options for cover! Now camera is updated
  Content/ProjectRevival/Core/Player/FC_HighCoverCrouch.uasset
  Content/ProjectRevival/Core/Player/FC_LeftSideView.uasset
  Content/ProjectRevival/Core/Player/VC_LeftSideView.uasset
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Public/CoreTypes.h
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
Labels: general, core

#121 Hero weapon
  Content/ProjectRevival/Characters/MainCharacter/Animations/Reload/AM_HeroReloadFull.uasset
  Content/ProjectRevival/Characters/MainCharacter/Animations/Reload/hero_reload.uasset
  Content/ProjectRevival/Characters/MainCharacter/hero.uasset
  Content/ProjectRevival/Characters/MainCharacter/hero_Skeleton.uasset
  Content/ProjectRevival/Core/Weapon/BP_HeroWeapon.uasset
  Content/ProjectRevival/Weapons/Animations/Anim_Blueprints/AK/AK_AnimBP.uasset
  Content/ProjectRevival/Weapons/Blueprints/AmmoShells/AP_AmmoShell_AK.uasset
  Content/ProjectRevival/Weapons/Blueprints/Weapons/BP_AK.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/AK.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/AK_Skeleton.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Animations/AK_Base.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/BP_Magazine.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/extended_magazine.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/extended_magazine_Skeleton.uasset
  Content/ProjectRevival/Weapons/_AK/AK_Base.uasset
  Content/ProjectRevival/Weapons/_AK/AK_Base_Montage.uasset
  Content/ProjectRevival/Weapons/_AK/AK_shooting.uasset
  Content/ProjectRevival/Weapons/_AK/AK_shooting_Montage.uasset
  Source/ProjectRevival/Private/Miscellaneous/AnimNotify/DropMagazineAnimNotify.cpp
  Source/ProjectRevival/Private/Miscellaneous/AnimNotify/LockMagazineAnimNotify.cpp
  Source/ProjectRevival/Private/Miscellaneous/AnimNotify/RemoveMagazineAnimNotify.cpp
  Source/ProjectRevival/Private/Miscellaneous/AnimNotify/TakeMagazineAnimNotify.cpp
  Source/ProjectRevival/Private/Weapon/AKWeapon.cpp
  Source/ProjectRevival/Private/Weapon/MeleeWeapon.cpp
  Source/ProjectRevival/Private/Weapon/Projectile/Magazine.cpp
  Source/ProjectRevival/Private/Weapon/Projectile/Shell.cpp
  Source/ProjectRevival/Public/Components/WeaponComponent.h
  Source/ProjectRevival/Public/Miscellaneous/AnimNotify/DropMagazineAnimNotify.h
  Source/ProjectRevival/Public/Miscellaneous/AnimNotify/LockMagazineAnimNotify.h
  Source/ProjectRevival/Public/Miscellaneous/AnimNotify/RemoveMagazineAnimNotify.h
  Source/ProjectRevival/Public/Miscellaneous/AnimNotify/TakeMagazineAnimNotify.h
  Source/ProjectRevival/Public/Weapon/AKWeapon.h
  Source/ProjectRevival/Public/Weapon/Projectile/Magazine.h
  Source/ProjectRevival/Public/Weapon/Projectile/Shell.h
Labels: general, core

#122 Hero weapon
  Content/ProjectRevival/Characters/MainCharacter/Animations/Reload/AM_HeroReloadFull.uasset
  Content/ProjectRevival/Core/Weapon/BP_HeroWeapon.uasset
  Content/ProjectRevival/Weapons/Animations/Anim_Blueprints/AK/AK_AnimBP.uasset
  Content/ProjectRevival/Weapons/Blueprints/AmmoShells/AP_AmmoShell_AK.uasset
  Content/ProjectRevival/Weapons/Blueprints/Weapons/BP_AK.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/AK.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/AK_Skeleton.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Animations/AK_shooting.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Animations/AK_shooting_Montage.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/BP_Magazine.uasset
  Content/ProjectRevival/Weapons/_AK/AK.uasset
  Content/ProjectRevival/Weapons/_AK/AK_shooting_Montage.uasset
  Source/ProjectRevival/Private/Miscellaneous/AnimNotify/SpawnShellAnimNotify.cpp
  Source/ProjectRevival/Private/Weapon/AKWeapon.cpp
  Source/ProjectRevival/Private/Weapon/Projectile/Shell.cpp
  Source/ProjectRevival/Public/Components/WeaponComponent.h
  Source/ProjectRevival/Public/Miscellaneous/AnimNotify/SpawnShellAnimNotify.h
  Source/ProjectRevival/Public/Weapon/AKWeapon.h
  Source/ProjectRevival/Public/Weapon/Projectile/Shell.h
Labels: general, core

#123 Save system
  Content/ProjectRevival/Core/BP_PRGameModeBase.uasset
  Content/ProjectRevival/Core/SaveSystem/BP_CheckpointActor.uasset
  Content/ProjectRevival/Maps/TestLevel.umap
  Content/ProjectRevival/Maps/TestLevel_BuiltData.uasset
  Source/ProjectRevival/Private/AbilitySystem/AbilityTasks/VisorTask_SpawnVisor.cpp
  Source/ProjectRevival/Private/Components/HealthComponent.cpp
  Source/ProjectRevival/Private/Components/WeaponComponent.cpp
  Source/ProjectRevival/Private/Interfaces/ICheckpointable.cpp
  Source/ProjectRevival/Private/Interfaces/ISaveLoader.cpp
  Source/ProjectRevival/Private/Menu/MenuGameModeBase.cpp
  Source/ProjectRevival/Private/Menu/MenuWidget.cpp
  Source/ProjectRevival/Private/PRGameModeBase.cpp
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Private/SaveSystem/CheckpointActor.cpp
  Source/ProjectRevival/Private/SaveSystem/PRSaveGame.cpp
  Source/ProjectRevival/Private/Weapon/BaseWeapon.cpp
  Source/ProjectRevival/Public/Components/HealthComponent.h
  Source/ProjectRevival/Public/Components/WeaponComponent.h
  Source/ProjectRevival/Public/GameFeature/CoverObject.h
  Source/ProjectRevival/Public/GameFeature/StaticObjectToNothing.h
  Source/ProjectRevival/Public/GameFeature/StaticObjectToStaticObject.h
  Source/ProjectRevival/Public/Interfaces/ICheckpointable.h
  Source/ProjectRevival/Public/Interfaces/ISaveLoader.h
  Source/ProjectRevival/Public/Menu/MenuGameModeBase.h
  Source/ProjectRevival/Public/PRGameModeBase.h
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
  Source/ProjectRevival/Public/SaveSystem/CheckpointActor.h
  Source/ProjectRevival/Public/SaveSystem/PRSaveGame.h
  Source/ProjectRevival/Public/Weapon/BaseWeapon.h
Labels: general, core, system

#128 Ghost ability gdd
  Content/ProjectRevival/Characters/TrueFemaleHero/MH_rig.uasset
  Content/ProjectRevival/Characters/TrueFemaleHero/Materials/Default_OBJ_002.uasset
  Content/ProjectRevival/Characters/TrueFemaleHero/Materials/Default_OBJ_002_Inst.uasset
  Content/ProjectRevival/Characters/TrueFemaleHero/Materials/Default_OBJ_003.uasset
  Content/ProjectRevival/Characters/TrueFemaleHero/Materials/Default_OBJ_003_Inst.uasset
  Content/ProjectRevival/Characters/TrueFemaleHero/Materials/ML_DefaultOBJ2.uasset
  Content/ProjectRevival/Characters/TrueFemaleHero/Materials/ML_Material001.uasset
  Content/ProjectRevival/Characters/TrueFemaleHero/Materials/Material_001.uasset
  Content/ProjectRevival/Characters/TrueFemaleHero/Materials/Material_001_Inst.uasset
  Content/ProjectRevival/Core/AI/Soldier/BP_SoldierEnemyCharacter.uasset
  Content/ProjectRevival/Core/AbilitySystem/GameplayAbilities/AbilityAssets/GhostVisual/MLB_Ghost.uasset
  Content/ProjectRevival/Core/AbilitySystem/GameplayAbilities/AbilityAssets/GhostVisual/MLB_Ghost_Inst.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_Menu.uasset
  Content/ProjectRevival/Core/Player/BP_PlayerCharacter.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/AK.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/MaterialLayers/ML_Body.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/MaterialLayers/ML_Butt.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/MaterialLayers/ML_Handle.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/MaterialLayers/ML_Magazine.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/MaterialLayers/ML_Ruk.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/MaterialLayers/ML_UnicMOdule.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/body.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/body_Inst.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/extended_magazine.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/extended_magazine_Inst.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/standart_handle.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/standart_handle_Inst.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/telescopic_butt.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/telescopic_butt_Inst.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/uglov_ruk.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/uglov_ruk_Inst.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/unic_module_short.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/Materials/unic_module_short_Inst.uasset
  Content/ProjectRevival/Weapons/Skeletal_Meshes/AK/extended_magazine.uasset
  Source/ProjectRevival/Private/AbilitySystem/Abilities/Miscellaneuos/IDynMaterialsFromMesh.cpp
  Source/ProjectRevival/Private/AbilitySystem/AbilityActors/ChangeWorldSphereActor.cpp
  Source/ProjectRevival/Private/AbilitySystem/AbilityTasks/GhostTask_InvisibilityToggle.cpp
  Source/ProjectRevival/Private/Weapon/AKWeapon.cpp
  Source/ProjectRevival/Public/AbilitySystem/AbilityActors/ChangeWorldSphereActor.h
  Source/ProjectRevival/Public/Weapon/AKWeapon.h
Labels: general, core, abilities, hero

#129 Added trigger actor for cutscenes
  Content/ProjectRevival/TestObjects/BP_TestTriggerCutscene.uasset
  Source/ProjectRevival/Private/Miscellaneous/FuncActors/CutsceneTriggerActor.cpp
  Source/ProjectRevival/ProjectRevival.Build.cs
  Source/ProjectRevival/Public/Miscellaneous/FuncActors/CutsceneTriggerActor.h
Labels: general, core
