Repository BaronRigell/ProjectRevival, pull requests merged in 2022-01, with the labels that each got.

#42 Complete Visor changes
  Content/ProjectRevival/Core/AbilitySystem/GameplayAbilities/GA_Visor.uasset
  Source/ProjectRevival/Private/AbilitySystem/Abilities/Miscellaneuos/VisorItem.cpp
  Source/ProjectRevival/Private/AbilitySystem/Abilities/VisorAbility.cpp
  Source/ProjectRevival/Private/AbilitySystem/AbilityTasks/VisorTask_SpawnVisor.cpp
  Source/ProjectRevival/Public/AbilitySystem/Abilities/Miscellaneuos/VisorItem.h
  Source/ProjectRevival/Public/AbilitySystem/Abilities/VisorAbility.h
  Source/ProjectRevival/Public/AbilitySystem/AbilityTasks/VisorTask_SpawnVisor.h
Labels: general, core, abilities

#51 UI game bars
  Content/ProjectRevival/Core/Menu/MenuLevel.umap
  Content/ProjectRevival/Core/Menu/MenuLevel_BuiltData.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_Credits.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_Options.uasset
  Content/ProjectRevival/Core/Player/BP_PlayerCharacter.uasset
  Content/ProjectRevival/Core/UI/BP_PlayerHUDWidget.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/CirclePGOpacity.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/CirclePGTexture.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/ExternalCircleEmpty.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/ExternalCircleFull.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/Icon2_1.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/Icon3_1.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/Icon4_1.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/IconGhost.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/IconVisor.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/InnerCircleEmpty.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/InnerCircleEmpty_1.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/InnerCircleFull.uasset
  Content/ProjectRevival/Core/UI/Images/Circle_PB/InnerCirclePGOpacity.uasset
  Content/ProjectRevival/Core/UI/Images/PB/Energy_Empty.uasset
  Content/ProjectRevival/Core/UI/Images/PB/Energy_Full.uasset
  Content/ProjectRevival/Core/UI/Images/PB/Energy_Segmented.uasset
  Content/ProjectRevival/Core/UI/Images/PB/Health_Empty.uasset
  Content/ProjectRevival/Core/UI/Images/PB/Health_Full.uasset
  Content/ProjectRevival/Core/UI/Images/PB/Health_Segmented.uasset
  Content/ProjectRevival/Core/UI/Images/PB/Opacity_Empty_PB.uasset
  Content/ProjectRevival/Core/UI/Images/PB/Opacity_PB.uasset
  Content/ProjectRevival/Core/UI/Images/PB/Opacity_Segmented_PB.uasset
  Content/ProjectRevival/Core/UI/Images/PB/Opacity_Segmented_PB_1.uasset
  Content/ProjectRevival/Core/UI/Materials/CircleProgressBar.uasset
  Content/ProjectRevival/Core/UI/Materials/CircleProgressBar_Inst.uasset
  Content/ProjectRevival/Core/UI/Materials/Energy_Full_Texture.uasset
  Content/ProjectRevival/Core/UI/Materials/Energy_Segmented_Texture.uasset
  Content/ProjectRevival/Core/UI/Materials/Health_Full_Texture.uasset
  Content/ProjectRevival/Core/UI/Materials/Health_Segmented_Texture.uasset
  Content/ProjectRevival/Core/UI/Materials/ProgressBar.uasset
  Content/ProjectRevival/Core/UI/WBP_CircleProgressBar.uasset
  Content/ProjectRevival/Core/UI/WBP_EnergyPB.uasset
  Content/ProjectRevival/Core/UI/WBP_HealthBar.uasset
  Content/ProjectRevival/Core/UI/WBP_HealthPB.uasset
  Source/ProjectRevival/Private/AbilitySystem/Abilities/FlipAbility.cpp
  Source/ProjectRevival/Private/AbilitySystem/Abilities/GhostAbility.cpp
  Source/ProjectRevival/Private/AbilitySystem/Abilities/PRGameplayAbility.cpp
  Source/ProjectRevival/Private/AbilitySystem/Abilities/VisorAbility.cpp
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Private/UI/CirclePBWidget.cpp
  Source/ProjectRevival/Private/UI/GameHUD.cpp
  Source/ProjectRevival/Private/UI/HealthPBWidget.cpp
  Source/ProjectRevival/Private/UI/PlayerHUDWidget.cpp
  Source/ProjectRevival/Public/AbilitySystem/Abilities/PRGameplayAbility.h
  Source/ProjectRevival/Public/UI/CirclePBWidget.h
  Source/ProjectRevival/Public/UI/GameHUD.h
  Source/ProjectRevival/Public/UI/HealthPBWidget.h
  Source/ProjectRevival/Public/UI/PlayerHUDWidget.h
Labels: UI, core

#53 Merging branch cover-system
  Config/DefaultEngine.ini
  Config/DefaultGameplayTags.ini
  Config/DefaultInput.ini
  Source/ProjectRevival/Private/Player/BaseCharacter.cpp
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Public/Player/BaseCharacter.h
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
Labels: general, core

#56 Settings menu v1
  Content/ProjectRevival/Core/Menu/MenuLevel.umap
  Content/ProjectRevival/Core/Menu/UI/BP_MenuHUD.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_Menu.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_Options.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_OptionsAxisMapping.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_OptionsControls.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_OptionsGraphics.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_OptionsKeyMapping.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_OptionsSound.uasset
  Source/ProjectRevival/Private/Menu/OptionsAxisRemapWidget.cpp
  Source/ProjectRevival/Private/Menu/OptionsControlsWidget.cpp
  Source/ProjectRevival/Private/Menu/OptionsGraphicsWidget.cpp
  Source/ProjectRevival/Private/Menu/OptionsKeyRemapWidget.cpp
  Source/ProjectRevival/Private/Menu/OptionsSoundWidget.cpp
  Source/ProjectRevival/Private/Menu/OptionsWidget.cpp
  Source/ProjectRevival/ProjectRevival.Build.cs
  Source/ProjectRevival/Public/Menu/OptionsAxisRemapWidget.h
  Source/ProjectRevival/Public/Menu/OptionsControlsWidget.h
  Source/ProjectRevival/Public/Menu/OptionsGraphicsWidget.h
  Source/ProjectRevival/Public/Menu/OptionsKeyRemapWidget.h
  Source/ProjectRevival/Public/Menu/OptionsSoundWidget.h
  Source/ProjectRevival/Public/Menu/OptionsWidget.h
Labels: UI, core

#62 Ai soldier logic
  .idea/.idea.ProjectRevival.dir/.idea/.gitignore
  Content/ProjectRevival/Core/AI/BP_AICharacter.uasset
  Content/ProjectRevival/Core/AI/Soldier/BB_Soldier.uasset
  Content/ProjectRevival/Core/AI/Soldier/BP_SoldierAIController.uasset
  Content/ProjectRevival/Core/AI/Soldier/BT_Soldier.uasset
  Content/ProjectRevival/Core/BP_PRGameModeBase.uasset
  Content/ProjectRevival/Weapons/Crates/SM_AmmoCrate1.uasset
  Content/ProjectRevival/Weapons/Crates/SM_AmmoCrate2.uasset
  Content/ProjectRevival/Weapons/Crates/SM_AmmoCrateOpened1.uasset
  Content/ProjectRevival/Weapons/Crates/SM_AmmoCrateOpened2.uasset
  Content/ProjectRevival/Weapons/Crates/SM_Sci-fi_Crate_01_Closed.uasset
  Content/ProjectRevival/Weapons/Crates/SM_Sci-fi_Crate_01_Opened.uasset
  Content/ProjectRevival/Weapons/Crates/SM_Sci-fi_Crate_02_Closed.uasset
  Content/ProjectRevival/Weapons/Crates/SM_Sci-fi_Crate_02_Opened.uasset
  Source/ProjectRevival/Private/AI/AICharacter.cpp
  Source/ProjectRevival/Private/AI/BaseAIController.cpp
  Source/ProjectRevival/Private/AI/Soldier/Decorators/BTD_IfPlayerInSight.cpp
  Source/ProjectRevival/Private/AI/Soldier/SoldierAIController.cpp
  Source/ProjectRevival/Private/AI/Soldier/Tasks/BTT_StartFiring.cpp
  Source/ProjectRevival/Private/AI/Soldier/Tasks/BTT_StopFiring.cpp
  Source/ProjectRevival/Private/Components/PRSoldierAIPerceptionComponent.cpp
  Source/ProjectRevival/Public/AI/AICharacter.h
  Source/ProjectRevival/Public/AI/Soldier/Decorators/BTD_IfPlayerInSight.h
  Source/ProjectRevival/Public/AI/Soldier/SoldierAIController.h
  Source/ProjectRevival/Public/AI/Soldier/Tasks/BTT_StartFiring.h
  Source/ProjectRevival/Public/AI/Soldier/Tasks/BTT_StopFiring.h
  Source/ProjectRevival/Public/Components/PRSoldierAIPerceptionComponent.h
  Source/ProjectRevival/Public/PRGameModeBase.h
Labels: AI, core, soldier

#68 Pause menu
  Content/ProjectRevival/Core/Menu/UI/WBP_Options.uasset
  Content/ProjectRevival/Core/UI/WBP_GamePause.uasset
  Content/ProjectRevival/Core/UI/WBP_GoToMenu.uasset
  Source/ProjectRevival/Private/Menu/OptionsAxisRemapWidget.cpp
  Source/ProjectRevival/Private/Menu/OptionsKeyRemapWidget.cpp
  Source/ProjectRevival/Private/Menu/OptionsWidget.cpp
  Source/ProjectRevival/Private/UI/PauseWidget.cpp
  Source/ProjectRevival/Public/Menu/OptionsAxisRemapWidget.h
  Source/ProjectRevival/Public/Menu/OptionsControlsWidget.h
  Source/ProjectRevival/Public/Menu/OptionsKeyRemapWidget.h
  Source/ProjectRevival/Public/Menu/OptionsWidget.h
  Source/ProjectRevival/Public/UI/PauseWidget.h
Labels: UI
