Repository BaronRigell/ProjectRevival, pull requests merged in 2022-02, with the labels that each got.

#77 Transfer functions from PlayerCharacter to CoreTypes to minimize amou…
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Public/CoreTypes.h
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
Labels: general, core, hero, refactoring

#75 Hero cover fire
  Content/ProjectRevival/Core/Weapon/Effects/CS_HeroFire.uasset
  Content/ProjectRevival/Core/Weapon/Effects/FFE_HeroFire.uasset
  Content/ProjectRevival/Maps/TestLevel.umap
  Source/ProjectRevival/Private/AbilitySystem/Abilities/PRGameplayAbility.cpp
  Source/ProjectRevival/Private/Components/WeaponComponent.cpp
  Source/ProjectRevival/Private/Interfaces/ICoverable.cpp
  Source/ProjectRevival/Private/Player/BaseCharacter.cpp
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Private/Weapon/BaseWeapon.cpp
  Source/ProjectRevival/Private/Weapon/LauncherWeapon.cpp
  Source/ProjectRevival/Private/Weapon/RifleWeapon.cpp
  Source/ProjectRevival/ProjectRevival.Build.cs
  Source/ProjectRevival/Public/Components/WeaponComponent.h
  Source/ProjectRevival/Public/Interfaces/ICoverable.h
  Source/ProjectRevival/Public/Player/BaseCharacter.h
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
  Source/ProjectRevival/Public/Weapon/BaseWeapon.h
Labels: general, core, hero

#78 Ammo crate UI
  Content/ProjectRevival/Core/UI/Images/Ammo/Ammo_Amount_Empty.uasset
  Content/ProjectRevival/Core/UI/Images/Ammo/Ammo_Amount_Full.uasset
  Content/ProjectRevival/Core/UI/Images/Ammo/Ammo_Empty.uasset
  Content/ProjectRevival/Core/UI/Images/Ammo/Ammo_Full.uasset
  Content/ProjectRevival/Core/UI/Images/Ammo/Ammo_Icon.uasset
  Content/ProjectRevival/Core/UI/WBP_Ammo.uasset
  Content/ProjectRevival/Pickup/BP_AmmoCrate.uasset
  Source/ProjectRevival/Private/Pickup/AmmoCrate.cpp
  Source/ProjectRevival/Private/UI/AmmoWidget.cpp
  Source/ProjectRevival/Public/UI/AmmoWidget.h
Labels: UI, core

#84 Ai soldier fire
  Content/ProjectRevival/Core/AI/Soldier/BP_SoldierAIController.uasset
  Content/ProjectRevival/Core/AI/Soldier/BT_Soldier.uasset
  Content/ProjectRevival/Core/BP_PRGameModeBase.uasset
  Source/ProjectRevival/Private/AI/Soldier/SoldierAIController.cpp
  Source/ProjectRevival/Private/AI/Soldier/Tasks/BTT_FindNewCover.cpp
  Source/ProjectRevival/Private/AI/SoldierEnemy.cpp
  Source/ProjectRevival/Private/Components/PRSoldierAIPerceptionComponent.cpp
  Source/ProjectRevival/Public/AI/Soldier/SoldierAIController.h
  Source/ProjectRevival/Public/AI/Soldier/Tasks/BTT_FindNewCover.h
  Source/ProjectRevival/Public/AI/SoldierEnemy.h
Labels: AI, soldier

#86 Created Camera behaviour for two types of Cover: Low cover and High c…
  Content/ProjectRevival/Core/Player/FC_CoverFieldOfView.uasset
  Content/ProjectRevival/Core/Player/FC_CoverYShift.uasset
  Content/ProjectRevival/Core/Player/VC_LowCover.uasset
  Source/ProjectRevival/Private/Player/PlayerCharacter.cpp
  Source/ProjectRevival/Public/CoreTypes.h
  Source/ProjectRevival/Public/Interfaces/ICoverable.h
  Source/ProjectRevival/Public/Player/PlayerCharacter.h
Labels: general, core

#93 Soldier cover fire
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_cover_walk_high_left_BlendSpace.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_cover_walk_high_right_BlendSpace.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_cover_walk_low_left_BlendSpace.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_cover_walk_low_right_BlendSpace.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high-low_cover_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high-low_cover_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_aim_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_aim_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_aim_to_cover_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_aim_to_cover_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_cover_left-right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_cover_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_cover_left_to_aim.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_cover_left_to_idle.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_cover_right-left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_cover_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_cover_right_to_aim.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_cover_right_to_idle.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_idle_to_cover_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_idle_to_cover_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_walk_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_high_walk_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low-high_cover_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low-high_cover_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_aim_stand_to_cover_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_aim_stand_to_cover_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_aim_to_cover_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_aim_to_cover_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_cover_left-right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_cover_left_to_aim_stand.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_cover_left_to_aim_stand_fire.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_cover_left_to_idle.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_cover_right-left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_cover_right_to_aim_stand.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_cover_right_to_aim_stand_fire.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_cover_right_to_idle.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_cover_to_aim_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_cover_to_aim_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_idle_to_cover_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_idle_to_cover_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_walk_left.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Cover/soldier_low_walk_right.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Reload/soldier_montage_reload.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/Shooting/soldier_montage_shoot.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Animations/soldier_AnimBlueprint.uasset
  Content/ProjectRevival/Characters/Enemies/Soldier/Mesh/soldier1_Skeleton.uasset
  Content/ProjectRevival/Core/AI/Soldier/BP_SoldierEnemyCharacter.uasset
  Content/ProjectRevival/Core/Weapon/BP_SoldierRifleWeapon.uasset
  Content/ProjectRevival/TestObjects/CoverSoldierTestHigh.uasset
  Content/ProjectRevival/TestObjects/CoverSoldierTestLow.uasset
  Source/ProjectRevival/Private/AI/Soldier/SoldierAIController.cpp
  Source/ProjectRevival/Private/AI/SoldierEnemy.cpp
  Source/ProjectRevival/Private/Components/WeaponComponent.cpp
  Source/ProjectRevival/Private/Weapon/SoldierRifleWeapon.cpp
  Source/ProjectRevival/Public/AI/AICharacter.h
  Source/ProjectRevival/Public/AI/SoldierEnemy.h
  Source/ProjectRevival/Public/Components/WeaponComponent.h
  Source/ProjectRevival/Public/Weapon/RifleWeapon.h
  Source/ProjectRevival/Public/Weapon/SoldierRifleWeapon.h
Labels: general, core, soldier

#95 Versatile level obj
  Config/DefaultEngine.ini
  Content/ProjectRevival/Core/GameFeature/CF_MaterialCurveForChangeWorldObjects.uasset
  Content/ProjectRevival/Core/GameFeature/GF_Curve.uasset
  Content/ProjectRevival/Core/GameFeature/StaticObjectToNothing.uasset
  Content/ProjectRevival/Core/Materials/Angle.uasset
  Content/ProjectRevival/Core/Materials/Dissolve.uasset
  Content/ProjectRevival/Core/Materials/MF_Dissolve.uasset
  Content/ProjectRevival/Core/Materials/M_Dissolve.COPY
  Content/ProjectRevival/Core/Materials/M_Dissolve.uasset
  Content/ProjectRevival/Core/Materials/M_Dissolve1.COPY
  Content/ProjectRevival/Core/Materials/M_Dissolve1.uasset
  Content/ProjectRevival/Core/Materials/M_Dissolve1_Inst.COPY
  Content/ProjectRevival/Core/Materials/M_Dissolve1_Inst.uasset
  Content/ProjectRevival/Core/Materials/M_Dissolve2.COPY
  Content/ProjectRevival/Core/Materials/M_Dissolve2.uasset
  Content/ProjectRevival/Core/Materials/M_Dissolve2_Inst.COPY
  Content/ProjectRevival/Core/Materials/M_Dissolve2_Inst.uasset
  Content/ProjectRevival/Core/Materials/M_Dissolve_Inst.COPY
  Content/ProjectRevival/Core/Materials/M_Dissolve_Inst.uasset
  Content/ProjectRevival/Maps/CubeLevel.umap
  Content/ProjectRevival/Maps/CubeLevel_BuiltData.uasset
  Content/ProjectRevival/TestObjects/BP_ChangeWorldSphereActor.uasset
  Content/StarterContent/Textures/T_Fire_Tiled_D.uasset
  Source/ProjectRevival/Private/AbilitySystem/AbilityActors/ChangeWorldSphereActor.cpp
  Source/ProjectRevival/Private/GameFeature/ChangeWorld.cpp
  Source/ProjectRevival/Private/GameFeature/StaticObjectToNothing.cpp
  Source/ProjectRevival/Private/GameFeature/StaticObjectToStaticObject.cpp
  Source/ProjectRevival/Private/Interfaces/IChangingWorldObjCoverCheck.cpp
  Source/ProjectRevival/Public/AbilitySystem/AbilityActors/ChangeWorldSphereActor.h
  Source/ProjectRevival/Public/GameFeature/ChangeWorld.h
  Source/ProjectRevival/Public/GameFeature/StaticObjectToNothing.h
  Source/ProjectRevival/Public/GameFeature/StaticObjectToStaticObject.h
  Source/ProjectRevival/Public/Interfaces/IChangingWorldObjCoverCheck.h
Labels: general, core, two_worlds

#99 Created new Sound Classes for every type of sound; Added these new so…
  Config/DefaultEngine.ini
  Content/ExternalContent/Sounds/Weapons/AssultRifle/SCue_AR_Shoot_LP.uasset
  Content/ExternalContent/Sounds/Weapons/AssultRifle/SCue_AR_Shoot_LP_Tail.uasset
  Content/ExternalContent/Sounds/Weapons/GrenadeLauncher/SCue_Launcher_Shoot.uasset
  Content/ProjectRevival/Core/Menu/MenuLevelTheme.uasset
  Content/ProjectRevival/Core/Menu/UI/WBP_OptionsSound.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Effects.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Master.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Music.uasset
  Content/ProjectRevival/Core/Sounds/SoundClasses/SC_Voice.uasset
  Content/ProjectRevival/Weapons/SFX/Sound_Cue/Empty_Shot_01_Cue.uasset
  Content/ProjectRevival/Weapons/SFX/Sound_Cue/Pistol_Shot_21_Cue.uasset
  Content/ProjectRevival/Weapons/SFX/Sound_Cue/Rifle_Shot_01_Cue.uasset
  Content/ProjectRevival/Weapons/SFX/Sound_Cue/Rocket_Fire_01_Cue.uasset
  Content/ProjectRevival/Weapons/SFX/Sound_Cue/Sci-fi_Pistol_Shot_01_Cue.uasset
  Content/ProjectRevival/Weapons/SFX/Sound_Cue/Sci-fi_Rilfe_02_Shot_01_Cue.uasset
  Content/ProjectRevival/Weapons/SFX/Sound_Cue/Sci-fi_Rocket_Projectile_01_Cue.uasset
  Content/ProjectRevival/Weapons/SFX/Sound_Cue/Sci-fi_Sniper_Fire_Shot_Cue.uasset
  Source/ProjectRevival/Private/Menu/MenuLevelTheme.cpp
  Source/ProjectRevival/Private/Menu/OptionsSoundWidget.cpp
  Source/ProjectRevival/Public/Menu/MenuLevelTheme.h
  Source/ProjectRevival/Public/Menu/OptionsSoundWidget.h
Labels: general, core, sound
